.facebook-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
}

p {
    margin: 10px;
    font-size: 18px;
}

.facebook-picture{
    width: 200px;
    height: auto;
}

.country-button{
    margin: 5px;
    width: 150px;
}

.selected {
    background-color: aqua;
}